.navbar {
	background-color: #f3e9f1;
}

*{
    padding: 0px;
    margin: 0px;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;


}
.card-title {
	text-align: center;
}

.card-text {
	text-align: right;
}