.navbar {
	background-color: #f3e9f1;
}

*{
    padding: 0px;
    margin: 0px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.card {
	border-radius: 10px;
	box-shadow: 6px -6px 4px grey;
	margin: 40px;
}
.card-title {
	text-align: center;
}

.card-text {
	text-align: right;
}

button {

}

button a {
	color: white;
}
button a:hover {
	color: black;
	text-decoration: none; 
}