*{
    padding: 0px;
    margin: 0px;
}
.navbar {
	background-color: #f3e9f1;
	margin-right: 0px;
	padding: 0px;
}
.row {
	justify-content: center;
	align-items: center;
}
.card {
	border-radius: 10px;
	box-shadow: 6px -6px 4px grey;
	margin: 40px;
}
@media (max-width: 1024px) {
	.card{
		margin: 40px 25px;
	}
}
@media (max-width: 425px) {
	.card{
		margin: auto;
	}
}
.card-title {
	text-align: center;
}
.card-text {
	text-align: right;
}
button a {
	color: white;
}
button a:hover {
	color: black;
	text-decoration: none; 
}
#erreur {
	margin: auto;
	margin-top: 100px;
}
#erreur h2 {
	text-align: center;
}
/*--PAGE PRODUIT--*/
#carte {
	margin: auto;
	margin-top: 20px;
}

/*---PANIER---*/
table {
	margin: auto;
}
#tableau {
	margin-right: 0px;
	margin-left: 0px;
}
.photo {
	max-width: 250px;
}
.description {
	max-width: 500px;
}
th {
	padding: 0 20px;
	border : 1px solid grey;
}
td {
	padding: 10px 20px;
	border : 1px solid grey;
}
.total h4 {
	text-align: center;
}

/*---FORMULAIRE---*/
#formulaire {
	width: 800px;
	margin: auto;
}
#formulaire .card-body {
	font-size: 15px;
}
#bouton {
	width: 200px;
	margin: auto;
	font-size: 20px;
	background-color: #f3e9f1;
}

/*---CONFIRMATION---*/
#carte-confirmation {
	margin: auto;
	margin-top: 50px;
}
#carte-confirmation h3 {
	padding-top: 10px;
}
#carte-confirmation h4 {
	padding-top: 15px;
}

#carte-confirmation p {
	font-size: 20px;
	padding-top: 20px;
}